.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content__h1 {
  display: block;
  margin: 0 auto;
  font-size: 5rem;
  font-weight: 700;
  max-width: 26rem;
  color: white;
}

.content__h1_span {
  font-size: 5rem;
  font-weight: 700;
  color: #4eb858;
}
