.content__img {
  position: absolute;
  width: auto;
  height: 80%;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.content__header_div {
  margin: 8vw;
}

.content__h2 {
  color: #4eb858;
  font-size: clamp(1.4rem, 2vw, 2rem);
}

.content__h1 {
  display: block;
  margin: 0 auto;
  font-size: clamp(3rem, 6vw, 5rem);
  font-weight: 700;
  max-width: 26rem;
  color: white;
}

.content__h1_span {
  font-size: clamp(3rem, 6vw, 5rem);
  font-weight: 700;
  color: #4eb858;
}
