.form__container {
  display: block;
  width: 35vw;
  background: #12192c;
  margin: 8vw;
  border-radius: 1rem;
  color: white;
}
.form__container_HIDE {
  display: none;
}

.form_input__container {
  position: relative;
}

.form__small_wrapper {
  display: flex;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.form_play_img {
  display: block;
  width: 4rem;
  margin: 1rem auto;
}

.form__h2 {
  display: block;
  text-align: center;
  margin: 1rem;
}

.form__add_cast_button {
  position: absolute;
  font-weight: 700;
  font-size: 1rem;
  right: 15%;
  top: 1.6rem;
  border: 3px solid #4eb857;
  border-radius: 3px;
  padding: 0.2rem 0.5rem;
  color: #4eb857;
  background: transparent;
}

.form_input__text,
.form_input__text_small,
.form_input__textarea {
  display: block;
  border: none;
  background: #171e31;
  width: 80%;
  margin: 1rem auto;
  border-radius: 1rem;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.8rem;
}

.form_input__number {
  appearance: textfield;
  -moz-appearance: textfield;
}

.form_input__text_small {
  font-size: 1.1rem;
}

.form_input__textarea {
  resize: none;
  overflow: scroll;
}

.form__submit_button {
  display: block;
  text-align: center;
  margin: 1rem auto 2rem auto;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  background: #4eb857;
  border: none;
  border-radius: 0.5rem;
}
