.header_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  .header_logo_container {
    width: 100%;
    min-width: 320px;
  }
}

.header__logo {
  height: 2rem;
  width: auto;
  margin: 0rem 1rem;
}

.nav__flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
  float: right;
  margin: 0rem 1rem;
  padding: 0.5rem;
  min-width: 320px;
  overflow: visible;
}
@media only screen and (max-width: 992px) {
  .nav__flexbox {
    width: 95%;
    justify-content: center;
    margin: 0;
  }
}
@media only screen and (max-width: 500px) {
  .nav__flexbox {
    height: 3.6rem;
    align-items: flex-start;
  }
}
@media only screen and (max-width: 414px) {
  .nav__flexbox {
    height: 4.1rem;
  }
}
@media only screen and (max-width: 398px) {
  .nav__flexbox {
    height: 4.6rem;
  }
}

.nav__buttton_container {
  position: relative;
  display: block;
  height: 1.5rem;
  border: none;
  background: none;
  cursor: pointer;
  overflow: visible;
  text-align: center;
}

.nav__button_menu_icon {
  display: none;
  position: absolute;
}

.nav__button_icon {
  height: 1.5rem;
  margin: 0 0.25rem;
}

.nav__button_text_wrapper {
  position: relative;
  display: inline-block;
  height: 1.5rem;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  font-weight: 400;
  color: white;
}
@media only screen and (max-width: 414px) {
  .nav__button_text_wrapper {
    height: 2.5rem;
  }
}

.nav__button_text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.nav__button_text__dropdown_container {
  position: relative;
  display: block;
  background: #12192c;
  z-index: 999;
}

.nav__button_text__dropdown_container_HIDE {
  position: relative;
  display: none;
  background: #12192c;
  z-index: 999;
}

.nav__button_text__dropdown {
  position: relative;
  display: block;
  color: white;
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  font-weight: 400;
  margin: 0.5rem;
  z-index: 999;
}

.nav_sort_pulldown_arrow {
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  right: 0.5rem;
  width: 0.7rem;
}
@media only screen and (max-width: 500px) {
  .nav_sort_pulldown_arrow {
    display: none;
  }
}

.nav_sort_pulldown_arrow_HIDE {
  display: none;
}
