.home__bg_img {
  position: absolute;
  width: auto;
  max-height: 50vw;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.home__bg_img_HIDE {
  display: none;
}

.home__flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  overflow: scroll;
}
.home__flexbox_HIDE {
  display: none;
}

.home__header_div {
  display: block;
  width: 20rem;
  margin: 8vw;
}

.home__h1 {
  display: block;
  margin: 0 auto;
  font-size: 4rem;
  font-weight: 700;
  color: white;
}
@media only screen and (max-width: 451px) {
  .home__h1 {
    font-size: clamp(2.5rem, 16vw, 3.5rem);
  }
}

.home__h1_span {
  font-size: 4rem;
  font-weight: 700;
  color: #4eb858;
}
@media only screen and (max-width: 451px) {
  .home__h1_span {
    font-size: clamp(2.5rem, 16vw, 3.5rem);
  }
}

.home__h2 {
  color: #4eb858;
  font-size: 1.4rem;
}
@media only screen and (max-width: 451px) {
  .home__h2 {
    font-size: clamp(1.15rem, 2vw, 3.5rem);
  }
}
