.large_card {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@media only screen and (max-width: 992px) {
  .large_card {
    position: relative;
    display: block;
  }
}

.large_card__img_gradient {
  position: absolute;
  width: 50%;
  height: 100%;
  float: right;
  background-image: linear-gradient(to left, transparent 0%, transparent 70%, #171e31 100%);
  z-index: 1;
}
@media only screen and (max-width: 992px) {
  .large_card__img_gradient {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 0%, transparent 70%, #171e31 100%);
  }
}
@media only screen and (max-width: 451px) {
  .large_card__img_gradient {
    width: 100%;
    height: 100%;
    background-image: unset;
  }
}

.large_card__img {
  position: relative;
  width: 50%;
  height: 100%;
  float: right;
  background-size: cover;
  background-position: top;
}
@media only screen and (max-width: 992px) {
  .large_card__img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
    clip-path: unset;
  }
}

.large_card__text_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 1rem;
  z-index: 3;
  overflow-y: scroll;
}
@media only screen and (max-width: 992px) {
  .large_card__text_container {
    position: absolute;
    width: 100%;
    z-index: 2;
  }
}

.large_card__text_flex_container {
  height: auto;
  width: 92%;
  min-width: 280px;
  margin: auto;
}
@media only screen and (max-width: 992px) {
  .large_card__text_flex_container {
    background: #171e31;
    width: 92%;
  }
}

.large_card__text_flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width: 992px) {
  .large_card__text_flexbox {
    padding: 1rem;
  }
}
@media only screen and (max-width: 992px) {
  .large_card__text_flexbox {
    padding: 0.5rem;
  }
}

.large_card__h1 {
  font-weight: 700;
  font-size: 2rem;
  padding: 1rem;
  text-align: justify;
  text-justify: inter-character;
  text-align-last: justify;
  color: white;
}
@media only screen and (max-width: 451px) {
  .large_card__h1 {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
}

.large_card__star_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.large_card__star {
  text-align: center;
  background: #4eb858;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  width: 2rem;
  height: 2rem;
  margin: 1rem;
}
@media only screen and (max-width: 451px) {
  .large_card__star {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.5rem;
  }
}

.large_card__details_flexbox {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.large_card__year,
.large_card__rating,
.large_card__runtime {
  display: inline-block;
  font-size: 1.3rem;
  padding: 1rem;
  color: white;
  text-align: center;
}
@media only screen and (max-width: 451px) {
  .large_card__year,
  .large_card__rating,
  .large_card__runtime {
    font-size: 1rem;
    padding: 0.5rem;
  }
}

.large_card__plot {
  font-size: 1.4rem;
  text-align: center;
  padding: 1rem;
  color: #565b6f;
}
@media only screen and (max-width: 451px) {
  .large_card__plot {
    font-size: 1.1rem;
    padding: 0.5em;
  }
}

.large_card__cast {
  font-size: 1.3rem;
  text-align: center;
  padding: 1rem;
  color: white;
}

@media only screen and (max-width: 451px) {
  .large_card__cast {
    font-size: 1rem;
    padding: 0.3rem;
  }
}
