*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  overflow: hidden;
  /* outline: solid 1px blue; */
}

/* ---------------------------- */

body {
  position: relative;
  display: block;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

.header__container {
  position: relative;
  display: block;
  width: 100vw;
  background: #12192c;
  height: 4rem;
}

.main {
  position: absolute;
  background: #171e31;
  height: calc(100% - 19.5rem);
  width: 100vw;
}

.main__container {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
