*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  overflow: hidden;
  /* border: 1px solid blue; */
}

/* ---------------------------- */

body {
  position: relative;
  display: block;
  min-width: 100vw;
  min-height: 100vh;
}

.page_container_flexbox {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: calc(100vh - 15rem);
}
.page_container_flexbox__STRETCH {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: calc(100vh);
}

.header__container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100vw;
  padding: 0.5rem 0rem;
  overflow: visible;
  background: #12192c;
}
@media only screen and (max-width: 992px) {
  .header__container {
    justify-content: center;
    gap: 0.2rem;
  }
}

.main {
  position: relative;
  display: block;
  background: #171e31;
  height: 100%;
  width: 100vw;
  overflow-y: scroll;
}
.main__fullscreen {
  position: relative;
  background: #171e31;
  height: calc(100% - 3.5rem);
  width: 100vw;
}

.homepage_text {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
