.moive_nav {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 20rem;
  background: #12192c;
}

.movie_nav__card_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.movie_nav__card {
  position: relative;
  display: block;
  height: 20rem;
  width: 20rem;
  margin: 0rem 2rem;
  border-radius: 0.5rem;
}

.moive_nav__img {
  display: block;
  clip-path: circle(50% at 50% 50%);
  width: 12rem;
  height: 12rem;
  margin: 1rem auto;
  object-fit: cover;
}

.moive_nav_info {
  position: absolute;
  top: 12rem;
  width: 100%;
  height: 7rem;
  margin: 1rem auto;
}

.moive_nav__title {
  display: block;
  text-align: center;
  max-width: 12rem;
  max-height: 3.5rem;
  color: #ceced8;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0.5rem auto;
}

.moive_nav__film_year {
  text-align: center;
  color: #565b6f;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0.5rem;
}
